<div class="container mt-2">
  <div class="row">
    <div class="col-md-3">
        <mat-card>
        <h3>{{isInEditMode ? 'Update Student': 'Add Student'}}</h3>
        <div class="form-group">
            <label for="fname"><b>First Name</b></label>
            <input type="text" #fname class ="form-control"/>
        </div>
         <div class="form-group">
            <label for="lname"><b>Last Name</b></label>
            <input type="text" #lname class ="form-control"/>
        </div>
         <div class="form-group">
            <label for="Email"><b>Email</b></label>
            <input type="text" #email class ="form-control"/>
        </div>
                <div class="form-group">
            <label for="contact"><b>Contact</b></label>
            <input type="text" #contact class ="form-control" />
        </div>
        <button
        *ngIf ="!isInEditMode " (click)="onStdAdd()"mat-raised-button color="primary" class="btn-block">Add Student</button>
        <button *ngIf ="isInEditMode"
        (click)="OnUpdate()"
        class="btn btn-primary btn-block">Update Student</button>
        </mat-card>
        </div>

        

        <div class="col-8 mt-5">
            <mat-card class="table-responsive">
            <table class="table table-bordered" *ngIf ="stdsArr.length > 0; else noStudents">
                <thead>
                <tr>
                    <th>Sr.no</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Edit</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let std of stdsArr; let i = index; trackBy : trackByStudentId">
                        <td>{{i + 1}}</td>
                        <td>{{std.fname}} {{std.lname}}</td>
                        <td>{{std.email}}</td>
                        <td>{{std.contact}}</td>
                        <td>
                             <!-- <button mat-raised-button color="primary" class="btn-block">Edit</button> -->
                              <button mat-mini-fab color="primary"(click)="onEdit(std)" aria-label="Example icon button with a edit icon">
          <mat-icon>edit</mat-icon></button>
                              
                     </td>
                <td class="text-center">
                     <!-- <button (click)="onRemove(std.stdId) "mat-raised-button color="warn" class="btn-block">Remove</button> -->
                       <button mat-mini-fab color="warn"(click)="onRemove(std.stdId)" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
                </td>

                    </tr>
                </tbody>
            </table>
            <ng-template #noStudents>
                <p class="alert alert-info">No Students data addeded yet !!! </p>
                </ng-template>
            </mat-card>

        </div>
    
</div>
</div>